run = "cd backend && npm install && npm start"

hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["bash", "deploy.sh"]
deploymentTarget = "cloudrun"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin:$PATH"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"
NODE_ENV = "production"
